#root {
  width: 100vw;
  height: 100vh;
}

:root,
.leva-t-kqjEjX {
  --leva-colors-accent2: #8562e3;
  --leva-colors-accent1: hsl(256, 70%, 34%);
  --leva-fonts-mono: "Outfit", sans-serif;
  transition: all 0.5s ease-in-out;
}

.leva-c-ihqPFh {
  font-size: 0.875rem;
  font-weight: 500;
}

body {
  margin: 0;
  /* font-family: "Neue Kabel"; */
}

canvas {
  cursor: grab;
}

.leva-c-hBtFDW {
  height: fit-content !important;
}

.leva-c-enSiwp {
  z-index: 999999 !important;
}
