#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

canvas {
  cursor: grab;
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
